Week 5/TemperatureServiceConsumer/TemperatureServiceConsumer/Connected Services/TempSvc/TempSvc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58118/TempSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TemperatureConversionService" />
  <xs:element name="FahrenheitToCelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TemperatureConversionService" minOccurs="0" name="f" nillable="true" type="q1:TemperatureFahrenheit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitToCelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TemperatureConversionService" minOccurs="0" name="FahrenheitToCelsiusResult" nillable="true" type="q2:TemperatureCelsius" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>