Week 5/TemperatureServiceConsumer/TemperatureServiceConsumer/Connected Services/TempSvc/TempSvc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TemperatureConversionService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TemperatureConversionService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TemperatureFahrenheit">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateComputed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemperatureFahrenheit" nillable="true" type="tns:TemperatureFahrenheit" />
  <xs:complexType name="TemperatureCelsius">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateComputed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemperatureCelsius" nillable="true" type="tns:TemperatureCelsius" />
</xs:schema>